# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
*.pyo

# PyInstaller
build/
dist/
*.spec

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store

# App data
*.db

# Temp
preview_*.png

# VC++ Redistributable (25MB, nao commitar)
assets/vc_redist.x64.exe
